bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Georgia.Tech.Library/FileContentIndex/9fb2f599-84f9-4de4-b811-a63408da3017.vsidx
/.vs/Georgia.Tech.Library/FileContentIndex/e55251a2-13b9-4d5f-9c05-6219c91e6714.vsidx
